* {
  transition: all 0.1s ease-in;
  padding: 0;
  margin: 0;
}
body {
  background-color: #3b3f45;
  border: solid #f8ffff 20px;
}
.class_ul{
  margin: 2% 30%;
  list-style-type: none;
  color: #f8ffff;
}
ul li {
  padding: 15px;
}
li:nth-child(2n + 1) {
  background-color: #88839e;
}
li:nth-child(2n) {
  background-color: #7a7593;
}
label {
  font-size: 30px;
  display: inline;
}
.class_li:hover {
  background-color: #625e77;
  border-top: solid #f8ffff 2px;
  border-bottom: solid #f8ffff 2px;
}
.class_li:active {
  background-color: #eb7d7f;
  border-top: solid #f8ffff 2px;
  border-bottom: solid #f8ffff 2px;
}
input:checked + label {
  text-decoration: line-through;
  color: #a8a5b9;
}
[for="pickles"]::after {
  content: "( for the next lessons about CSS )";
  font-size: 15px;
}
[for="apples"]::after {
  content: "( for more css manipulations )";
  font-size: 15px;
}
[for="oranges"]::after {
  content: "( because they are awesome )";
  font-size: 15px;
}
[for="plates"]::after {
  content: "( hm... they always disappear )";
  font-size: 15px;
}
[for="sake"]::after {
  content: "( for my friend)";
  font-size: 15px;
}
footer {
  background-color: #4a4f56;
  text-align: center;
  color: #eb7d7f;
  padding: 25px;
}


