* {
  transition: all 0.1s ease-in;
  padding: 0;
  margin: 0;
}
body {
  background-color: #3b3f45;
}
ul {
  font-size: 18px;
  list-style: none;
  margin-left: 25%;
  margin-right: 25%;
  border: none;
}
li:hover {
  text-decoration: none;
  background-color: #625e77;
  color: white;
  border: 1px solid #fff;
}
.div135 {
  background-color: #88839e;
}
.end {
  background-color: #4a4f56;
  color: #eb7e7f;
  text-align: center;
  margin-top: 15px;
  margin-left: 25%;
  margin-right: 25%;
}
.div24 {
  background-color: #7a7593;
}
span {
  font-size: 10px;
}
section {
  text-align: left;
  padding: 25px;
}
.span_before::before {
}
.span_after::after {
}
